<%=stylesheet_link_tag "fabelio" %>
<div id="slider">
<figure>
<% @users.each do |user| %>
	<%=image_tag(user.url,:alt => "") %>
<% end %>	
</figure>
</div>
<br />
<%= link_to "Add Image", new_user_path %>
